.section-card {
  width: 90%;
  max-width: 900px;
  margin: 30px auto;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.section-card h2 {
  color: black;
  margin-bottom: 20px;
  font-size: 1.8rem;
  text-align: left;
}


.education-card {
  background: #f8fafc;
  border-left: 4px solid #2563eb;
  padding: 10px 15px;
  border-radius: 8px;
  margin-bottom: 15px;
  transition: transform 0.2s ease;
  margin-top: 10px;
  border: none;
  cursor: pointer;

}

.education-card:hover {
  transform: translateY(-2px);
}

.education-card h3 {
  color: #222;
  margin-bottom: 8px;
  font-size: 1.2rem;
}

.education-card p {
  color: #666;
  margin: 5px 0;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .section-card {
    width: 95%;
    padding: 20px;
  }

  .section-card h2 {
    font-size: 1.5rem;
  }

  .education-card h3 {
    font-size: 1.1rem;
  }
}